/* =========================================================
   1100px
========================================================= */

@media (max-width: 1100px) {

    .hero-container,
    .about-grid {

        grid-template-columns: 1fr;

    }

}

/* =========================================================
   768px
========================================================= */

@media (max-width: 768px) {

    .nav-links {

        display: none;

    }

    .menu-toggle {

        display: flex;

    }

    .hero {

        padding-top: 140px;

    }

    .hero-container {

        gap: 60px;

    }

    .hero-title {

        font-size: 3.5rem;

    }

    .section {

        padding: 90px 0;

    }

    .contact-box {

        padding: 50px 30px;

    }

    .footer-container {

        flex-direction: column;

    }

}

/* =========================================================
   560px
========================================================= */

@media (max-width: 560px) {

    .hero-title {

        font-size: 2.8rem;

    }

    .hero-buttons {

        flex-direction: column;

    }

    .section-title {

        font-size: 2.3rem;

    }

    .about-text,
    .about-skills,
    .project-content,
    .blog-content {

        padding: 24px;

    }

}